{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<h1>Favorites Main Page</h1>
<ul class="list-group list-group-flush" id="favorites">
  {% for favorite in user.favorites %}
  <li class="list-group-item">
    <p>{{ favorite.RestaurauntName}}</p>
    <p>{{ favorite.PhoneNumber }}</p>
    <p>{{ favorite.Website }}</p>
    <p>{{ favorite.StreetAddress }}</p>
    <button type="button" class="close" onClick="deleteNote({{ favorite.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <div class="form-group">
    <label for="RestaurauntName">Restauraunt Name</label>
    <input  id="RestaurauntName"  placeholder="Name of Restauraunt"><br>
    <label for="PhoneNumber">Phone Number</label>
    <input id="PhoneNumber" placeholder="Restauraunt Phone number"><br>
    <label for="Website">Website</label>
    <input id="Website" placeholder="URL for website"><br>
    <label for="StreetAddress">Street Address</label>
    <input id="StreetAddress" placeholder="Restauraunt location"><br>
  <button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>
{% endblock %}
