{% extends "base.html" %} 
{% block title %}Home{% endblock %} 
{% block content %}
<h1>Favorites Main Page</h1>
<ul class="list-group list-group-flush" id="favorites">
  {% for favorites in user.notes %}
  <li class="list-group-item">
    <p>{{ favorite.name }}</p>
    <p>{{ favorite.phone }}</p>
    <p>{{ favorite.website }}</p>
    <p>{{ favorite.address }}</p>
    <button type="button" class="close" onClick="deleteNote({{ favorite.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <div align="center">
    <button type="submit" class="btn btn-primary">Add Restuaraunt URL</button>
  </div>
</form>
{% endblock %}
