<form>
  <h1>Input Restauraunt Info</h1>
    <div class="form-group">
      <label for="RestaurauntName">Resatauraunt Name</label>
      <input  id="RestaurauntName"  placeholder="Name of Restauraunt">
      <label for="PhoneNumber">Phone Number</label>
      <input id="PhoneNumber " placeholder="Restauraunt Phone number">
      <label for="Website">Website</label>
      <input id="Website" placeholder="URL for website">
      <label for="StreetAddress">Street Address</label>
      <input id="StreetAddress" placeholder="Restauraunt location"> 
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
  </form> 