{% extends "base.html" %}
{% block title %}Search{% endblock %}
{% block content %}
<form method=POST>
<div class="container">
  <div class="row height d-flex justify-content-center align-items-center">
      <div class="col-md-8">
          <div class="search"> <input id="searchInput" name="searchInput" type="text" class="form-control" placeholder="Enter Location For Restauraunt Search"> 
            <button type="submit" class="btn btn-primary">Search</button> 
          </div>
      </div>
  </div>
</div>
</form>

<ul class="list-group list-group-flush" id="search-results">
{% for data in my_data %}
  <li class="list-group-item" >
    {% if data["name"] %}
    <p class="name">{{ data["name"]}}</p>
    {% endif %}

    {% if data["phone"] %}
    <p class="phone">{{ data["phone"] }}</p>
    {% endif %}

    {% if data["website"] %}
    <p class="website">{{ data["website"] }}</p>
    {% endif %}

    {% if data["address"] %}
    <p class="address">{{ data["address"]}}</p>
    {% endif %}
    <button type="button" onclick="AddNewFavorite(event)">
      Add to favorites
    </button>
  </li>
{% endfor %}
</ul>
{% endblock %}
